---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/News/BackToPrevious.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

export async function getStaticPaths() {
    const store = (await getCollection("store")).sort(
        (a, b) => b.data.releaseDate.valueOf() - a.data.releaseDate.valueOf(),
    );

    const paths = store.map((item) => {
        const [lang, ...slug] = item.id.split("/");
        return {
            params: { lang, slug: slug.join("/") || undefined },
            props: item,
        };
    });

    return paths;
}

const store = await getCollection("store");
const { slug } = Astro.params;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const item = Astro.props;
---

<Layout
    title={item.data.name}
    siteName="Futureblur Store"
    description={item.data.description}
    cover={`/src/assets/store/${slug}/cover.jpg`}
>
    <div class="page-spacing mx-auto max-w-screen-2xl px-6">
        <div class="animate">
            <BackToPrevious href=`/${lang}/store`
                >{t("nav.back")}</BackToPrevious
            >
        </div>
        <section class="animate my-10 mb-0 space-y-2 md:mb-6">
            <h1>{item.data.name}</h1>
        </section>
    </div>
</Layout>
