---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import NavBarLinks from "@components/Navigation/NavBarLinks.astro";
import { getLangFromUrl } from "@i18n/utils";

type Props = {
    className?: string;
    title: string;
    siteName?: string;
    description: string;
    cover: string;
    author?: string;
};

const { className, title, siteName, description, cover, author } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
    <head>
        <Head
            title={`${title} — Futureblur`}
            siteName={siteName}
            description={description}
            cover={cover}
            author={author}
            language={lang}
        />
    </head>
    <body>
        <Header />
        <div id="curtain">
            <ul
                class="order-0 mt-5 flex h-10 flex-col gap-4 font-mono text-lg font-semibold sm:mt-0 sm:h-fit sm:flex-row sm:items-center sm:gap-8"
            >
                <NavBarLinks />
            </ul>
        </div>
        <main class={className}>
            <slot />
        </main>
        <!-- Cloudflare Web Analytics -->
        <script
            is:inline
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon='{"token": "bcb372d150cb41feb85a540c68f70d99"}'
        ></script>
        <Footer />
    </body>
</html>
